<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getBirthYear()}">VALUE</p>

<div th:if="${person.getBooks.isEmpty()}">
    <p>this user dont have any books</p>
    <hr/>
</div>

<div th:if="${!person.getBooks().isEmpty()}">
    <hr/>
    <b>Books:</b>
    <br/>
    <table th:each="book : ${person.getBooks()}">
        <tr>
            <td>
                <span th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYearOfCreate()}" th:style="${book.isExpired()} ? 'color : red' : 'color : black'">
                    book
                </span>
            </td>
        </tr>

    </table>
</div>








<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>